## Python Basics:

### Data Types:

    - Int
    - Float
    - String
    - Complex

### Integers in Static Format

In [3]:
# For commenting and uncommenting a line or no of \
# statements use "ctrl + /"

a = 34500999787876
b = 435345
# print(a)
# print(b)
print("a type is: ",type(a))
print("b type is: ",type(b))

a type is:  <class 'int'>
b type is:  <class 'int'>

### Float in Static Format

In [9]:
n = 234.500979867
print(n)
print("n type is: ",type(n))

234.500979867
n type is:  <class 'float'>

### String in Static Format

In [11]:
name = "rajesh"
print(name)
print("name type is: ",type(name))

rajesh
name type is:  <class 'str'>

### Dynamic Way of inputs 
    - Dynamic Processing of input we have to use input()
    - In input() all given values are in string format

#### Typecasting
    - int() -> Changes to integer when the values are in                    string format 
    - float() -> Changes to float when the values are in                    string format
    - str() -> Changes to string when the given values are                  in either integer or float

#### Integer in Dynamic

In [18]:
n = int(input("Enter a number: "))
print(n)
print(type(n))

Enter a number: 234234
234234
<class 'int'>

#### Float in Dynamic

In [19]:
n = float(input("Enter a number: "))
print(n)
print(type(n))

Enter a number: 34534.657456345
34534.657456345
<class 'float'>

#### String in Dynamic

In [22]:
s = str(input("Enter a string: "))
print(s)
print(type(s))

Enter a string: 234.827349876
234.827349876
<class 'str'>

In [26]:
m = input("Enter a value: ")
print(m)
print(type(m))

Enter a value: '234.345345345'
'234.345345345'
<class 'str'>

#### Variable Value assignments

#### Different Values for Different Variables

In [36]:
a,b,d = '10',30.345,'rajesh'
print("Value of a is: ",a," and type is: ",type(a))
print("Value of b is: ",b," and type is: ",type(b))
print("Value of d is: ",d," and type is: ",type(d))

Value of a is:  10  and type is:  <class 'str'>
Value of b is:  30.345  and type is:  <class 'float'>
Value of d is:  rajesh  and type is:  <class 'str'>

#### Single Value to different Variables

In [37]:
a = b = g = j = 40
print(a,b,g,j)

40 40 40 40

## Operators:

#### Arithmatic operators : 
_____
+ `+`,`-`,`/`,`*`,`//`,`**` and `%`

In [52]:
5%3

2

#### Logical operators
+ and, or, not

In [57]:
a=5
print(a>3 and a>4)
print(a>3 or a<4)
print(a<3 and a>4)

True
True
False

In [55]:
print(a>3 or a<4)

True

#### Comparision operators
+ `==`, `<=`, `>=` and `!=``

#### Assignment operators
+ `=`, `+=`, `*=`, `-=`, `/=` and `%=`

In [61]:
a=0
a

0

In [62]:
a+=1 ## a=a+1
a

1

In [64]:
a*=1 ## a=a*1
a

1

In [67]:
a-= 1
a

2

In [69]:
b=6
b%=2
b

0

In [70]:
a

2

In [73]:
b=0
b+=1
print(b)

1

In [75]:
print(b)
b+=1
print(b)

2
3

In [76]:
print(b)
b-=-1
print(b)

3
4

In [79]:
a = 1

In [81]:
print(a)
a+=1
print(a)

2
3

#### Bitwise opeartor
+ `&` ,`|`,`^`,`>>` and `<<`

In [ ]:
1 1 => 1 ### And (&)

or

0 0 => 0 ### Or (|)

XOR  ### ( ^ )

1 0 => 1
0 1 => 1

In [91]:
print(7 ^ 2)

5

In [92]:
print(10 >> 2)

2

In [93]:
print(10 << 2)

40

#### Membership opeartors (in , not in)
#### Identity operators ( is , is not)

In [ ]:
Enter a value: 11
Enter b value: 12
value of 11 and 12 by using and operator is: ?
value of 11 and 12 by using or operator is: ?
value of 11 and 12 by using xor operator is: ?
    
Enter a value: 13
Enter b value: 14
value of 13 and 14 by using and operator is: ?
value of 13 and 14 by using or operator is: ?
value of 13 and 14 by using xor operator is: ?

In [98]:
n = int(input("Enter a value: "))
m = int(input("Enter b value: "))
print("Addition of %d and %d is: %d"%(m,n,n+m)) 
print("Addition of {} and {} is: {}".format(n,m,n+m))
print("{2} by adding {0} and {1}".format(n,m,n+m))

Enter a value: 2
Enter b value: 3
5 by adding 2 and 3