# lists
+ combination of elements that are belongs to same kind or heterogenious
- list is related to array

In [1]:
data1=[2,"hanuman",2.5]

In [2]:
data1

[2, 'hanuman', 2.5]

In [3]:
data2=[3,"ramu",3.5]

In [4]:
data2

[3, 'ramu', 3.5]

In [5]:
print(data1+data2)

[2, 'hanuman', 2.5, 3, 'ramu', 3.5]

In [9]:
data2[2]="nvz"

In [11]:
data2

[3, 'ramu', 'nvz']

In [12]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [17]:
data3=[10,20,30,40,50]

In [18]:
data3

[10, 20, 30, 40, 50]

In [19]:
data3.append(10)

In [20]:
data3

[10, 20, 30, 40, 50, 10]

In [21]:
data3.extend([12,13])

In [22]:
data3

[10, 20, 30, 40, 50, 10, 12, 13]

In [23]:
data3

[10, 20, 30, 40, 50, 10, 12, 13]

In [24]:
data3.index(30)

2

In [25]:
data3.index(10)

0

In [29]:
data3.count(30)

1

In [27]:
data3

[10, 20, 30, 40, 50, 10, 12, 13]

In [40]:
data3.insert(0,"vijay")

In [41]:
data3

['vijay', 10, 20, 30, 100, 'vijay', 'ravi', 'ravi', 100, 40, 50, 10, 12, 13]

In [48]:
data4=[10,30,40,50,90,47]

In [49]:
data4

[10, 30, 40, 50, 90, 47]

In [50]:
data4.reverse()

In [52]:
data4

[47, 90, 50, 40, 30, 10]

In [56]:
data4.sort(reverse=True)

In [57]:
data4

[90, 50, 47, 40, 30, 10]

In [55]:
print(len(data4))

6

In [58]:
data4

[90, 50, 47, 40, 30, 10]

In [59]:
print(min(data4))

10

In [60]:
print(max(data4))

90

In [80]:
s=input().split()
# s=s.split('@')
print(type(s))
print(s)

1 2 23 234 23 4234 213 123
<class 'list'>
['1', '2', '23', '234', '23', '4234', '213', '123']

In [74]:
s.split(' ')

['10,20,30,40,50']

In [66]:
s

'10,20,30,40,50'

In [91]:
# input: 5
#        1 3 4 5 6 
#        4 5 6 2 4
# Output: 
#        5 8 10 7 10


n = int(input())
f = input().split()
s = input().split()
fr = []
sc = []
for i in range(len(f)):
    fr.append(int(f[i]))
for i in range(len(s)):
    sc.append(int(s[i]))
for i in range(len(fr)):
    print(fr[i]+sc[i],end=" ")

3
1 3 4 5 6 7 8 9
1 3 40 0 0 0 0
2 6 44 5 6 7 8

IndexError: list index out of range

In [96]:
ke =[2,4,54,5,34,5,23,4,2,34]
print(type(ke))
print(ke)

<class 'list'>
[2, 4, 54, 5, 34, 5, 23, 4, 2, 34]

In [97]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [104]:
k = [2,23,234234,23,42,34,23423,5235]

In [105]:
k

[2, 23, 234234, 23, 42, 34, 23423, 5235]

In [106]:
print(k.pop())

5235

In [107]:
k

[2, 23, 234234, 23, 42, 34, 23423]

In [109]:
k.remove(23)

In [110]:
k

[2, 234234, 23, 42, 34, 23423]

In [112]:
k[::-1]

[23423, 34, 42, 23, 234234, 2]

In [113]:
k[0]

2

In [114]:
k[4:6]

[34, 23423]

In [115]:
k.clear()

In [116]:
k

[]

In [117]:
k

[]

In [119]:
del k

## Tuples:

        - IMMutable (Doesn't Changes) => Static Values
        - Indexing (slicing can be performed)
        - tuple() or ()

In [121]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [4]:
s =(1,123,'sdasdasdad',943857834,45.0)

In [5]:
s

(1, 123, 'sdasdasdad', 943857834, 45.0)

In [12]:
ki=list(s)

In [13]:
ki.remove(1)

In [14]:
print(ki)

[123, 'sdasdasdad', 943857834, 45.0]

In [15]:
s = tuple(ki)
s

(123, 'sdasdasdad', 943857834, 45.0)

In [16]:
s.index(123)

0

In [20]:
s[::-1]

(45.0, 943857834, 'sdasdasdad', 123)

### Sets:
* Denotes with `{`,`}`.
* Un-ordered Data structure
    * Doesn't have index
* Mutable (Ability to manipulate)
* Doesn't allow duplicate values.

In [21]:
s={}
type(s)

dict

In [22]:
s={1:2,2:3}
type(s)

dict

In [24]:
s={1,2,3,4,"Hello",2.4}
type(s)

set

In [25]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [29]:
s1={1,2,3,4,7,9,0,54,11,21}
s1.add(5)
s1

{0, 1, 2, 3, 4, 5, 7, 9, 11, 21, 54}

In [30]:
l1=[1,2,3,4,54,11,12,"Anu","LOL","Hello",7.6]
l1

[1, 2, 3, 4, 54, 11, 12, 'Anu', 'LOL', 'Hello', 7.6]

In [34]:
l1=set(l1)
l1

{1, 11, 12, 2, 3, 4, 54, 7.6, 'Anu', 'Hello', 'LOL'}

In [35]:
l1

{1, 11, 12, 2, 3, 4, 54, 7.6, 'Anu', 'Hello', 'LOL'}

In [36]:
l2=l1.copy()

In [37]:
l2

{1, 11, 12, 2, 3, 4, 54, 7.6, 'Anu', 'Hello', 'LOL'}

In [38]:
l3=l2
l3

{1, 11, 12, 2, 3, 4, 54, 7.6, 'Anu', 'Hello', 'LOL'}

In [45]:
s1={1,2,3,4,5,7}
s2={6,7,8}
s2.difference(s1)
s1

{1, 2, 3, 4, 5, 7}

In [46]:
s2.difference_update(s1)
s1

{1, 2, 3, 4, 5, 7}

In [44]:
s2

{6, 8}

In [47]:
s1

{1, 2, 3, 4, 5, 7}

In [54]:
s1.discard(3)

In [49]:
s1

{1, 2, 4, 5, 7}

In [53]:
s1.remove(4)

KeyError: 4

In [52]:
s1

{1, 2, 5, 7}

In [56]:
s1={1,2,3,4,5}
s2={2,3,4,1,2}
s1.intersection_update(s2)

In [57]:
s1

{1, 2, 3, 4}

In [58]:
s2

{1, 2, 3, 4}

In [61]:
s1={1,2,3,4}
s2={5}
s1.isdisjoint(s2)

True

In [62]:
s1

{1, 2, 3, 4}

In [66]:
s2={1,2,3,4,5}
s2.issubset(s1)

False

In [67]:
s1

{1, 2, 3, 4}

In [68]:
s2

{1, 2, 3, 4, 5}

In [70]:
s1.issuperset(s2)

False

In [71]:
s1

{1, 2, 3, 4}

In [72]:
s1.pop()

1

In [76]:
s1.add(5)
s1

{2, 3, 4, 5}

In [77]:
s1

{2, 3, 4, 5}

In [78]:
s2

{1, 2, 3, 4, 5}

In [80]:
s1.symmetric_difference_update(s2)

In [81]:
s1

{1}

In [82]:
s1

{1}

In [83]:
s2

{1, 2, 3, 4, 5}

In [84]:
s3={5,6,7,8,9,10}
s2.union(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [85]:
s2

{1, 2, 3, 4, 5}

In [86]:
s2.update([6,7,8,9])

In [87]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [88]:
s2.update({10,11})

In [89]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [91]:
s4={21,22,23,3,4,5}
s5={20,22,33,31}
s4.symmetric_difference_update(s5)

In [92]:
s4

{3, 4, 5, 20, 21, 23, 31, 33}

## Dictionary:

    -dict(), (keys:value) -> items()
    - example: s = {'name':'Rajesh','age':25,'sal':3400}
    - ss = {'name':['rajesh','suresh']}

In [93]:
s = {'name':'Rajesh','age':25,'sal':3400}
s

{'name': 'Rajesh', 'age': 25, 'sal': 3400}

In [94]:
print(s['name'])

Rajesh

In [95]:
s.keys()

dict_keys(['name', 'age', 'sal'])

In [96]:
s.values()

dict_values(['Rajesh', 25, 3400])

In [98]:
for i in s.keys():
    print(i,end=" ")

name age sal

In [99]:
for i in s.values():
    print(i,end=" ")

Rajesh 25 3400

In [100]:
s.items()

dict_items([('name', 'Rajesh'), ('age', 25), ('sal', 3400)])

In [101]:
for i in s.items():
    print(i)

('name', 'Rajesh')
('age', 25)
('sal', 3400)

In [105]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [106]:
s

{'name': 'Rajesh', 'age': 25, 'sal': 3400}

In [107]:
s.update({'sub':['maths','social','english']})

In [108]:
s

{'name': 'Rajesh',
 'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english']}

In [109]:
print(s)

{'name': 'Rajesh', 'age': 25, 'sal': 3400, 'sub': ['maths', 'social', 'english']}

In [111]:
s.get('name')

'Rajesh'

In [112]:
s.get('sub')

['maths', 'social', 'english']

In [114]:
s.pop('name')

'Rajesh'

In [115]:
s

{'age': 25, 'sal': 3400, 'sub': ['maths', 'social', 'english']}

In [116]:
s1 = s.copy()
print(s1)

{'age': 25, 'sal': 3400, 'sub': ['maths', 'social', 'english']}

In [119]:
s.popitem()

('sal', 3400)

In [120]:
s

{'age': 25}

In [121]:
s1

{'age': 25, 'sal': 3400, 'sub': ['maths', 'social', 'english']}

In [129]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0}

In [130]:
s1.setdefault('sal')

3400

In [135]:
s1.setdefault('mobile',"Nothing")

In [134]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0,
 'mobile': None}

In [136]:
s1.setdefault('None','Nothing')

'Nothing'

In [137]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0,
 'mobile': None,
 'None': 'Nothing'}

In [138]:
s1.popitem()

('None', 'Nothing')

In [139]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0,
 'mobile': None}

In [150]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0,
 'mobile': None}

In [140]:
s1.fromkeys('sub')

{'s': None, 'u': None, 'b': None}

In [144]:
dict = {'a':2,'b':'hello','c':'hai'}

In [145]:
dict

{'a': 2, 'b': 'hello', 'c': 'hai'}

In [153]:
print(dict.fromkeys('c'))

{'c': None}

In [148]:
dict['c']

'hai'

In [154]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0,
 'mobile': None}

In [155]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0,
 'mobile': None}

In [156]:
s1.setdefault('age')

25

In [160]:
s1.setdefault('student1')

In [161]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0,
 'mobile': None,
 'student': 'Ramu',
 'student1': None}

In [162]:
s1.setdefault('course','B-Tech')

'B-Tech'

In [163]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0,
 'mobile': None,
 'student': 'Ramu',
 'student1': None,
 'course': 'B-Tech'}

In [164]:
s1['student1']="Ravi"

In [165]:
s1

{'age': 25,
 'sal': 3400,
 'sub': ['maths', 'social', 'english'],
 ('key1', 'key2'): 0,
 'mobile': None,
 'student': 'Ramu',
 'student1': 'Ravi',
 'course': 'B-Tech'}

In [174]:
d1={}
li=["name","role","Course"]
li1=["Hello","Hi","Bye"]
d1=d1.fromkeys(li,li1)

In [175]:
d1

{'name': ['Hello', 'Hi', 'Bye'],
 'role': ['Hello', 'Hi', 'Bye'],
 'Course': ['Hello', 'Hi', 'Bye']}

## Packages and Modules:


       Package -> folder
           Module -> first.py
               Functions -> any(user task has to be assigned)

In [176]:
import math

In [177]:
math.pow(2,7)

128.0

In [179]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [180]:
math.pi

3.141592653589793

In [181]:
math.factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [213]:
from IVC2 import first as p
n = int(input("Enter a number: "))
p.pat(n)

Enter a number: 3
***
* *
***

In [218]:
from IVC2 import second
n = input().split()
print(second.Evenlist(n))

4 5 6 7 8
[4, 6, 8]

In [219]:
s = 'dskjhfkdkj324534@#$%'

In [220]:
dc = cc = sc = 0
for i in s:
    if i.isdigit():
        dc+=1
    elif i.isalpha():
        cc+=1
    else:
        sc+=1
print(dc,sc,cc)

6 4 10

```
Input: 5
    
Output: 
        *****
        *   *
        *   *
        *   *
        *****
        ```

In [3]:
s = 'amazon nazaom'

In [4]:
s = s.split()

In [5]:
s

['amazon', 'nazaom']

In [6]:
if s[0] == s[1]:
    print('yes')
else:
    print('no')

no

In [229]:
import math

In [230]:
math.__doc__

'This module provides access to the mathematical functions\ndefined by the C standard.'

In [231]:
len.__doc__

'Return the number of items in a container.'

In [1]:
def Evenlist(s):
    '''Sample Example to print the even numebrs 
    in a list by using Modules'''
    p = []
    for i in range(len(s)):
        if int(s[i])%2==0:
            p.append(int(s[i]))
    return p
n = input().split()
print(Evenlist(n))

2 4 5 66
[2, 4, 66]

In [5]:
import math
math.__doc__

'This module provides access to the mathematical functions\ndefined by the C standard.'

In [7]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [9]:
print(Evenlist.__doc__)

Sample Example to print the even numebrs
    in a list by using Modules

In [1]:
from IVC2 import second

In [2]:
second.__doc__

' EvenList function'

s=input().split(" ")
if(sorted(s[0])==sorted(s[1])):
    print("Yes")
else:
    print("No")

In [8]:
s="amazon"
sorted(s)

['a', 'a', 'm', 'n', 'o', 'z']

In [9]:
s1="naazom"
sorted(s1)

['a', 'a', 'm', 'n', 'o', 'z']